/* reset all browser user agent settings to blank on webpage */
*  {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

/* mobile scaling */
@media only screen and (device-width: 700px),
only screen and (max-width:400px) {
meta.viewport {
    viewport-fit: 90%;
  }
}

/* navbar styling */
ul.navbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
  }
  
.navbar li {
  float: left;
}

.navbar li a {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

.navbar button {
  padding: 6px;
  margin: 8px 16px 0 0;
  background: #ddd;
  font-size: 17px;
  border: none;
}

.navbar li#rightFloat {
    float: right;
}

.navbar li a img {
  max-width: 120px;
  height: auto;
}

/* The highlights, or "actives" of the page */
.active {
  background-color: #34aa2f;
}

/* body styling */
body {
  background-color: #252525;
}

body p,a,h1,h2,h3,h4,h5,h6 {
  color: whitesmoke;
  padding: 16px 0px 8px 16px;
}

/* title font icing for headers */
body h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
  /* text shadow; syntax: 1st font, 2nd font, blur, color */
  text-shadow: 5px 5px 2px #34aa2f;
}

/* Hover effect over links */
a:hover {
  color: #34aa2f;
}

/* Animation */
div.animation {
  width: 300px;
  height: 200px;
  background-color: green;
  animation-name: color-change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* OVERRIDE-BOOTSTRAP */
/* OB Header */
div.dropdown-menu {
  color:whitesmoke;
  background-color: #181818;
}
/* OB Header (logo) */
img.logo {
  max-height: 20px;
}
/* OB Container Theme */
div.container {
  color:whitesmoke;
  background-color: #181818;
}

/* Animation */
@keyframes color-change {
  from {background-color: green;}
  to {background-color: purple;}
}

/* Footer styling */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #181818;
  color: whitesmoke;
  text-align: center;
  padding: 6px 0 6px 0;
}